*{
    padding:0;
    margin:0;
}
img{
   width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
}
div .content{ 
    padding: 4px;
    background-color: #fff;
    width: 45em;
    float:right;
    margin:1em;
}
p , h1{
    font-weight: bold;
    text-align: right;
    margin-top:1em;
}